$colors: (
    piedra: #dd1c1a,
    papel: #0081af,
    tijera: #32e56e,
    titlescore: #7a306c,
    font: #e4fde1,
    background: #000000,
);

$fonts: (
    big: 2.1em,
    mid: 1.1em,
    small: 0.8em
);